
:root {
  --primary-blue: #1e90ff;
  --primary-white: #ffffff;
  --primary-gray: #ccd1d9;
  --primary-dark-gray: #666666;
  --primary-light-gray: #f4f4f4;
  --primary-orange: #f9ab00;
  --primary-dark: rgb(52, 58, 64);
  --primary-green: rgb(19, 94, 19);
  --primary-red: #ef4035;
  --primary-hover-red:#f33501;
}



body {
  font-family: 'Nunito', sans-serif !important;

}

nav {
  z-index: 2;
}

 #container-navbar {
     max-width: 1300px;
 }

.logo {
  width: 12rem;
  height: 5rem;
}

/***MenuLinks***/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin: 0 0.75rem 0 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.19rem solid var(--dark);
}

.navbar-brand {
  /*max-width: 17rem;*/
  /*padding: 0 !important;*/
  /*height: 6rem !important;*/
}

@media (max-width: 768px) {
  .logo {
    width: 7rem;
    height: 3rem;
  }
}

/* use for navs for dif pages .  need to use a:focus*/
.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.19rem solid var(--primary-orange);

}

.navbar-nav > li > a:hover {
  border-top: 0.19rem solid var(--primary-orange);

}

/***HEADER***/

.header-wrapper{
  position: relative;
  background: url('./images/mainpic.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}
.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

@media(max-width: 768px){
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.4rem !important;
  }
}

/***Typed-Text***/
.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

/***Main offer Button***/
.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0.4rem;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}
.btn-main-offer:hover {
  color: var(--primary-white);
  text-decoration: none;
  background-color: var(--primary-hover-red);
  transition: .3s ease-out;
}

/***Particles***/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

 /***About Me***/
 .photo-wrap {
   display: flex;
   justify-content: center;
   align-items: center;

 }

 #about {
     height: 100vh;
 }

 .profile-img {
   width: 20rem;
   height: 20rem;
   border-radius: 50%;
   padding: .3rem;
   border: 1px solid var(--primary-orange);
 }

 .about-heading {
   color: var(--primary-orange);
   text-transform: uppercase;
 }
 @media(max-width: 768px) {
   .profile-img {
     width: 10rem;
     height: auto;
   }
   .about-heading {
     text-align: center;
   }
     #about {
         height: auto;
     }
 }


 /***Portfolio***/

 .portfolio {
   text-align: center;
   padding-bottom: 2rem;
   background: var(--primary-light-gray);
     height: 100vh;

 }
 .portfolio h1 {
   color: var(--primary-orange);
   text-transform: uppercase;
 }
 #projectsWrapper {
     margin-top: 10rem;
 }

 .portfolio h3 {
   color: var(--primary-dark);
 }
 .portfolio .circle {
   position: relative;
   margin: 0.4rem auto;
   background: var(--primary-orange);
   border-radius: 50%;
   width: 3.125rem;
   height: 3.125rem;
 }
 .portfolio .icon {
   font-size: 1.4rem;
   color: var(--primary-white);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 .portfolio .box {
   height: 16rem;
   border-bottom: 0.3125rem solid var(--primary-orange);
   padding: 0.625rem;
   margin-bottom: 1.875rem;
   background: var(--primary-white);
 }
 .portfolio .box:hover {
   background: var(--primary-orange);
   border-bottom: 0.3125rem solid var(--primary-dark);
   transition: .5s ease-out;
 }
 .portfolio .box:hover .icon {
   color: var(--primary-dark);
 }
 .portfolio .box:hover .circle {
   background: var(--primary-white);
 }

 @media(max-width: 768px) {
    .portfolio {
        height: 100%;
    }
     #projectsWrapper {
         margin-top: 2rem;
     }
 }


 /***Experience***/

 .experience-wrapper {
   position: relative;
   padding: 3.125rem 0;
   overflow: auto;
 }

 .experience h1 {
   text-transform: uppercase;
   color: var(--primary-orange);
 }

.experience-wrapper::before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-gray);
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

 .timeline-block-right {
   float: right;
 }

 .timeline-block-left {
   float: left;
   direction: rtl;
 }

 .marker {
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
   border: 0.3125rem solid var(--primary-dark);
   background: var(--primary-orange);
   margin-top: 0.825rem;
   z-index: 3;
 }

 .timeline-content {
   width: 95%;
   padding: 0 0.9375rem;
   color: var(--primary-dark-gray);
   direction: ltr;
 }

 .timeline-content h4 {
   margin-top: 0.3125rem;
   color: var(--primary-dark-gray);
   font-weight: 600;
 }

 @media (max-width: 768px) {

   .experience {
     padding-left: 1rem;
   }

   .experience .container {
     padding-left: 0;
   }

   .experience-wrapper::before {
     left: 0.5rem;
     margin-bottom: 1.875rem;
   }

   .timeline-block-right {
     float: none;
     width: 95%;
   }

   .timeline-block-left {
     float: none;
     direction: ltr;
     width: 95%;
   }
 }

 /***Experience***/

 .contacts {
     background: var(--primary-dark);
     padding: 3rem 0;
     height: 100%;
 }

 .contacts h1 {
     color: var(--primary-orange);
     padding: 1.3rem 0;
     text-transform: uppercase;
 }
 .contacts p {
     color: var(--primary-light-gray);
     font-size: 1.3rem;
 }

 .contacts input, .contacts textarea {

     width: 100%;
     box-sizing: border-box;
     background: none;
     resize: none;
     border: 0;
     border-bottom: 0.125rem solid var(--primary-dark-gray);
     border-radius: 0;
     color: var(--primary-orange) !important;
     outline: 0 !important;
     box-shadow: none !important;
     margin-bottom: 0.55rem;
     /*padding-left: 0 !important;*/
 }

 .contacts .container {
     padding: 4rem 0;
 }

 .contacts input:focus, .contacts textarea:focus {
     background: var(--primary-dark) !important;
     color: var(--primary-orange);
     border-bottom: 0.125rem solid var(--primary-dark-gray);
 }

 .contacts textarea {
     height: 13.6rem !important;
     margin: 2rem 0;
 }


 input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus,
 textarea:-webkit-autofill,
 textarea:-webkit-autofill:hover,
 textarea:-webkit-autofill:focus,
 select:-webkit-autofill,
 select:-webkit-autofill:hover,
 select:-webkit-autofill:focus {
     -webkit-text-fill-color: var(--primary-orange);
     /*-webkit-box-shadow: 0 0 0px 1000px #000 inset;*/
     transition: background-color 5000s ease-in-out 0s;
 }


 .contact-btn {
     margin-left: 0;
     width: 100%;
     background: none;
 }

 .line {
     position: relative;
     width: 0;
     height: 0.125rem;
     background: var(--primary-orange);
     display: inline-block;
 }

 input:focus+.line {
     width: 100%;
     transition: width 1s ease-in-out;
     top: -1.65rem;
 }

 textarea:focus+.line {
     width: 100%;
     transition: width 1s ease-in-out;
     top: -3.05rem;
 }

.error-message {
     color: var(--primary-red);
 }

.success-message {
    color: var(--primary-green);
    font-size: 2rem;
    background: var(--primary-gray);
}

 /*input.form-control, textarea.form-control {*/
 /*    margin: -0.3rem 0;*/
 /*}*/

 @media(max-width: 768px) {

     .contacts {
         overflow-x: hidden;
     }

     .contacts .container {
         padding: 0 1rem;
     }

     .contacts p {
         padding: 0 0.4rem;
     }
 }

 /***Footer***/

#fb-icon {
    color: #4267B2;
}

#linid-icon {
color: #2867B2;
}

#teleg-icon {
    color: #0088cc;
}

 .footer {
     background: var(--primary-dark);
     color: var(--primary-dark-gray);
 }

 .footer a {
     text-decoration: none;
     color: var(--primary-dark-gray)
 }

 .footer a:hover {
     text-decoration: none;
     color: var(--primary-orange);
     cursor: pointer;
 }
 #footer-contact {
     font-size: 1rem;
 }

 .footer p {
     margin-bottom: 0;
 }

 @media(min-width: 768px) {

     #footer {
         height: 160px;
     }
 }














